@font-face {
  font-family: Danmark;
  src: url("assets/fonts/DanmarkURWTDem_Regular.ttf");
}

@font-face {
  font-family: KyivTypeSans;
  src: url("assets/fonts/KyivTypeSans.ttf");
}

body {
  margin: 0;
}

html,
body {
  background: #000;
}
